!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge')
		title=project.title
		meta(name="viewport", content="width=device-width,initial-scale = 1.0")
		link(rel = 'stylesheet', type = 'text/css', href = 'static/css/fj-component-demo.css')
		link(rel = 'stylesheet', type = 'text/css', href = document.relativeSource)
		link(rel = 'stylesheet', type = 'text/css', href = 'static/css/brackets.css')
	body
		.wrapper
			h1: a(href=templateData.homeURL)=project.title
			p=templateData.subtitle
			ul.feature-list
				- each component in document.components
					- if(!component.eof)
						li.feature-list_item(id=component.slug)
							h3.feature-list_header=component.name
							section.component!=component.markup
							footer.feature-list_footer
								p.showcode
									a(href="#") Show code snippets
								section.code
									- if(component.markup)
										div
											h4 HTML
											pre.html
												code(data-language="html")=component.markup
									- if(component.css)
										div
											h4 CSS
											pre.css
												code(data-language="css")=component.css
		script(src="static/js/rainbow-custom.min.js")
		script(src='static/js/main.js')
